[submodule "roles/dr.server"]
	path = roles/dr.server
	url = https://github.com/madiedinro/dr.server.git
[submodule "roles/dr.exposeur"]
	path = roles/dr.exposeur
	url = https://github.com/madiedinro/dr.exposeur.git
