[submodule "roles/dr.server"]
	path = roles/dr.server
	url = https://github.com/madiedinro/dr.server.git
[submodule "roles/dr.exposeur"]
	path = roles/dr.exposeur
	url = https://github.com/madiedinro/dr.exposeur.git
[submodule "roles/dr.openvpn-client"]
	path = roles/dr.openvpn-client
	url = https://github.com/madiedinro/dr.openvpn-client.git
[submodule "roles/dr.letsencrypt"]
	path = roles/dr.letsencrypt
	url = https://github.com/madiedinro/dr.letsencrypt.git
[submodule "roles/dr.prostges-container"]
	path = roles/dr.prostges-container
	url = https://github.com/madiedinro/dr.prostges-container
[submodule "roles/dr.netdata"]
	path = roles/dr.netdata
	url = https://github.com/madiedinro/dr.netdata
[submodule "roles/dr.docker"]
	path = roles/dr.docker
	url = https://github.com/madiedinro/dr.docker
[submodule "roles/dr.influxdb"]
	path = roles/dr.influxdb
	url = https://github.com/madiedinro/dr.influxdb-role
[submodule "roles/dr.openvpn-server"]
	path = roles/dr.openvpn-server
	url = https://github.com/madiedinro/dr.openvpn-server
[submodule "roles/dr.chronograf-role"]
	path = roles/dr.chronograf-role
	url = https://github.com/madiedinro/dr.chronograf-role
[submodule "roles/dr.docker-container"]
	path = roles/dr.docker-container
	url = https://github.com/madiedinro/dr.docker-contrainer
[submodule "roles/dr.chronograf"]
	path = roles/dr.chronograf
	url = https://github.com/madiedinro/dr.chronograf-role
[submodule "roles/dr.static-service"]
	path = roles/dr.static-service
	url = https://github.com/madiedinro/dr.static-service
[submodule "roles/dr.clickhouse"]
	path = roles/dr.clickhouse
	url = https://github.com/madiedinro/dr.clickhouse
