Привет!

В приложении VPN ключи (сертификат и информация для подключения) для нескольких пользователей.
Инструкция по использованию: https://alco.readme.io/docs/connect-vpn

Если возникнуть вопросы, можете задать их в центре поддержки: https://alco.readme.io/discuss
