---
server:
  http:
    listen_addr: ":9090"
    allowed_networks:
{% for net in chproxy_allowed_networks|default([]) %}
      - "{{ net }}"
{% endfor %}
users:
{% for user in chproxy_users|default([]) %}
  - name: "{{ user.name }}"
    password: "{{ user.password|default('') }}"
    allow_cors: {{ user.allow_cors|default(chproxy_defs.allow_cors) }}
    to_cluster: "{{ user.to_cluster|default(chproxy_defs.to_cluster) }}"
    to_user: "{{ user.to_user }}"
    max_queue_time: "{{ user.max_queue_time|default(chproxy_defs.max_queue_time) }}"
    max_execution_time: "{{ user.max_execution_time|default(chproxy_defs.max_execution_time) }}"
    max_concurrent_queries: {{ user.max_concurrent_queries|default(chproxy_defs.max_concurrent_queries) }}
    max_queue_size: {{ user.max_queue_size|default(chproxy_defs.max_queue_size) }}
{% endfor %}
# by default each cluster has `default` user which can be overridden by section `users`
clusters:
{% for cluster in chproxy_clusters|default([]) %}
  - name: "{{ cluster.name }}"
    nodes:
{% for node in cluster.nodes|default([]) %}
      - "{{ node }}"
{% endfor %}
    users:
{% for user in cluster.users|default([]) %}
      - {{ user }}
{% endfor %}
{% endfor %}
